<div class="timeline-entry palm-row" x-mojo-tap-highlight="momentary">
	<div class="palm-row-wrapper">
		<div class="user">
			<div class="user-img rounded-user-image" style="background-image:url(#{user.profile_image_url})"></div>
		</div>
		<div class="status">
			<div class="meta-wrapper">
				<div class="screen-name">
					#{user.screen_name}
					<!--<div class="protected-icon"></div>-->
				</div>
				<div class="meta">
					<span class="">#{created_atFormatted}</span>
				</div>
			</div>
			<div class="text">
				#{-text}
			</div>
		</div>
	</div>
</div>